<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quiz</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <h2>Autor del Proyecto:</h2>
    <p><%= autor %></p>
    <div>
      <img height="120px" height="120px" src="/images/foto_autor.png" alt="Autors" title="Autors"/>
      <!--iframe width="120" height="120"
          src="http://www.youtube.com/watch?v=0yr75-gxVtM" frameborder="1">
      </iframe-->
    </div>
  </body>
</html>
