<form method="GET" action="/quizes" >
	<p>Buscar: <input type="search" id="buscar" name="buscar"
									placeholder="Término a buscar" size=""
									value="<%= buscar%>"
									autofocus />
									<script type="text/javascript">
										if(!("autofocus" in document.createElement("input"))){
											document.getElementById("buscar").focus();
											document.getElementById("buscar").select();
										}
									</script>
		<input type="submit" value="Buscar"/>
	</p><br/>
</form>
<table id="table_e" summary="Todas las Preguntas">
	<caption>Preguntas</caption>
	<tbody>
    <% var i; for (i = 0; i < quizes.length; i++) { %>
        <tr>
          <td>
            <a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a>
          </td>
        </tr>
    <% } %>
		<% if(quizes.length <= 0){%>
			<tr>
				<td style="text-align: center;">
					No hay coincidencias, intente otra b&uacute;squeda.
				</td>
			</tr>
		<% }%>
  </tbody>
</table><p>
<a href="/quizes/new"><button type="button" >Añadir Pregunta</button></a>
